<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <% if (searchResults.length > 0) { %>
    <ul>
      <% searchResults.forEach((user) => { %>
        <li>ID: <%= user.id %></li>
            <li>Name: <%= user.firstName %> <%= user.lastName %></li>
            <li>Email: <%= user.email %></li>
            <% if (user.age) { %>
              <li>Age: <%= user.age %></li>
            <% } %>
            <% if (user.bio) { %>
              <li>Bio: <%= user.bio %></li>
            <% } %>
      <% }); %>
    </ul>
  <% } else { %>
    <p>No users found!</p>
  <% } %>
</body>
</html>